h1 {
  font-family: sans-serif;
  color: #ffdcb4;
  margin: 10px;
}

p {
    margin: 0.25cm;
    font-family: sans-serif;
}

a:visited {
    color: #82a4b5;
}

ul.undecorated {
    list-style: none;
    padding-left: 0.5cm;
}

.sidebar a {    
    text-decoration: none;
}

.username {
    float: left;
}

.status {
    float: right;
}

#topbox {
  min-height: 50px;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: column;
          flex-flow: column;
}

#topbox > header {
  background-color: #022130;
  min-height: 50px;
  display: block;
  flex: 3 1 90%;
  order: 2;
}

#topbox > infobar {
  background-color: #7f4e14;
  color: #82a4b5;
  flex: 1 6 20%;
  order: 2;
}

#mainbox {
  min-height: 400px;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
}

#mainbox > sidebar {
  background-color: #4b2800;
  color: #82a4b5;
  flex: 1 6 20%;
  order: 1;
  min-width: 100px;
}

#mainbox > content {
  flex: 3 1 90%;
  order: 2;
  margin: 5mm;
}

